div#dashboard {
    width:100%;
    max-width:1080px;
    margin: 50px auto;
    padding:0 30px;
}

div#dashboard .user-info {
    display:flex;
    height:30px;
    align-items: center;
    margin-bottom:20px;
}

div#dashboard .user-info a {
    padding:8px;
    margin-left:10px;
    border-radius: 4px;
    font-size: 18px;
    background-color:#9a7bd7;
    text-decoration: none;
    color:#fff;
}

div#dashboard button {
    padding:8px;
    border-radius: 4px;
    font-size: 14px;
    background-color:#9a7bd7;
    text-decoration: none;
    color:#fff;
    border:none;
    margin-top:30px;
}